@charset "UTF-8";
.wrapper_bg {
  background-image: url("../assets/images/bg/movie-bg.png");
  background-size: cover;
}

.container_fluid {
  max-width: 1440px;
  margin: 0 auto;
  padding: 17px;
}
@media (max-width: 1440px) {
  .container_fluid {
    max-width: 1245px;
  }
}
@media (max-width: 1200px) {
  .container_fluid {
    max-width: 1140px;
  }
}
@media (max-width: 992px) {
  .container_fluid {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  .container_fluid {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  .container_fluid {
    max-width: 540px;
  }
}

.poster_header_up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 10px 30px 10px;
}
.poster_header_up .poster_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 15;
}
.poster_header_up .poster_nav .header_prof_card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 576px) {
  .poster_header_up .poster_nav .header_prof_card {
    display: none;
  }
}
@media (max-width: 576px) {
  .poster_header_up .poster_nav .menu-container {
    position: static;
    margin-left: 15px;
  }
}

.SortButton h1 {
  font-family: Montserrat;
  font-size: 55px;
  font-weight: 600;
  line-height: 130%; /* 71.5px */
  text-align: center;
  margin-bottom: 43px;
}
@media (max-width: 1200px) {
  .SortButton h1 {
    font-size: 3rem;
  }
}
@media (max-width: 992px) {
  .SortButton h1 {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .SortButton h1 {
    font-size: 0.875rem;
  }
}
.SortButton_button_country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.SortButton button {
  border-radius: 5px;
  border: 1px solid #000;
  background: #fff;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #212121;
  text-align: center;
  align-self: center;
  padding: 11px 24px;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
@media (max-width: 1200px) {
  .SortButton button {
    font-size: 1.1rem;
    padding: 6px 16px;
  }
}
@media (max-width: 576px) {
  .SortButton button {
    font-size: 0.813rem;
    font-weight: 800;
    padding: 6px 16px;
  }
}
.SortButton button.active {
  border-radius: 5px;
  border: 1px solid #ff2c15;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff2c15), to(#fa9317));
  background: linear-gradient(180deg, #ff2c15 0%, #fa9317 100%);
  color: #fff;
}
.SortButton button:hover {
  border-radius: 5px;
  border: 1px solid #ff2c15;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff2c15), to(#fa9317));
  background: linear-gradient(180deg, #ff2c15 0%, #fa9317 100%);
  color: #fff;
}
@media (max-width: 1200px) {
  .SortButton {
    font-size: 1rem;
    width: 100%; /* Ширина 100%, чтобы кнопки могли выходить за границы экрана */
    overflow-x: auto; /* Включаем горизонтальную прокрутку */
    white-space: nowrap;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media (max-width: 576px) {
  .SortButton {
    font-size: 0.813rem;
  }
}

.MakingProfit h2 {
  color: #000;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 98.5%; /* 49.25px */
}
.MakingProfit_content {
  border-radius: 20px;
  background: #fff;
  padding: 43px 19px 84px 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 177px;
}
.MakingProfit_content_categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 11px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0px;
  -webkit-box-shadow: 0px 20px 30px 0px rgba(71, 169, 255, 0.3);
          box-shadow: 0px 20px 30px 0px rgba(71, 169, 255, 0.3);
}
.MakingProfit_content_categories_item {
  border: 1px solid #00a8fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  padding: 10px 5px;
  max-width: 185px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.MakingProfit_content_categories_item_title {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}
.MakingProfit_content_categories_item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.MakingProfit_content_categories_item div span {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  background: linear-gradient(118deg, #ff2c15 -5.25%, #fa931a 98.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.MakingProfit_content_sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin: 45px 0px 30px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.MakingProfit_content_sort span {
  font-size: 36px;
  font-weight: 400;
  line-height: 98.5%; /* 35.46px */
}
.MakingProfit_content_sort select {
  height: 50px;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  border-radius: 9.676px;
  padding: 12px 22px;
}
.MakingProfit_content_history_card {
  border-radius: 10px;
  border: 6px solid #ff2c15;
  background: #fff;
  padding: 20px 30px;
  -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  max-width: 538px;
}
.MakingProfit_content_history_card_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
}
.MakingProfit_content_history_card_item span {
  color: #001533;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
}
.MakingProfit_content_history_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin: 30px 0px;
  margin-left: 164px;
}
.MakingProfit_content_history_line div {
  width: 80px;
  height: 4px;
  background-color: #000;
}
.MakingProfit_content button {
  border-radius: 12px;
  border: 1px solid #f00;
  background: linear-gradient(253deg, #f00 -14.77%, #ffb800 103.16%);
  color: #fff;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 20px;
  padding: 20px 27px;
  border: none;
  text-transform: uppercase;
}