.wrapper_bg {
  background-image: url("../assets/images/bg/movie-bg.png");
  background-size: cover;
}

.container_fluid {
  max-width: 1440px;
  margin: 0 auto;
  padding: 17px;
}
@media (max-width: 1440px) {
  .container_fluid {
    max-width: 1245px;
  }
}
@media (max-width: 1200px) {
  .container_fluid {
    max-width: 1140px;
  }
}
@media (max-width: 992px) {
  .container_fluid {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  .container_fluid {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  .container_fluid {
    max-width: 540px;
  }
}

.poster_header_up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 10px 30px 10px;
}
.poster_header_up .poster_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 15;
}
.poster_header_up .poster_nav .header_prof_card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 576px) {
  .poster_header_up .poster_nav .header_prof_card {
    display: none;
  }
}
@media (max-width: 576px) {
  .poster_header_up .poster_nav .menu-container {
    position: static;
    margin-left: 15px;
  }
}

.MainTitle h2 {
  text-align: center;
  font-family: Montserrat;
  font-size: 55px;
  font-weight: 600;
  line-height: 130%; /* 71.5px */
}

.payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.payment_img {
  max-height: 550px;
}
.payment_img .MyIncome_content_main_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.payment_img .MyIncome_content_main_img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.payment_img .MyIncome_content_main_img .rotate {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
.payment_img .MyIncome_content_main_img .rotate:hover {
  -webkit-transform: rotate(40deg) scale(1.1);
          transform: rotate(40deg) scale(1.1);
}
.payment_img .MyIncome_content_main_img .moreStar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.payment_img .MyIncome_content_main_img img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 992px) {
  .payment_img .MyIncome_content_main_img img {
    display: none;
  }
}
.payment button {
  border-radius: 12px;
  border: 1px solid #f00;
  background: linear-gradient(253deg, #f00 -14.77%, #ffb800 103.16%);
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 400;
  line-height: 120%; /* 26.4px */
  padding: 17px 53px;
  border: none;
  margin-left: 224px;
}