@charset "UTF-8";
.wrapper_bg {
  background-image: url("../assets/images/bg/movie-bg.png");
  background-size: cover;
}

.container_fluid {
  max-width: 1440px;
  margin: 0 auto;
  padding: 17px;
}
@media (max-width: 1440px) {
  .container_fluid {
    max-width: 1245px;
  }
}
@media (max-width: 1200px) {
  .container_fluid {
    max-width: 1140px;
  }
}
@media (max-width: 992px) {
  .container_fluid {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  .container_fluid {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  .container_fluid {
    max-width: 540px;
  }
}

.poster_header_up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 10px 30px 10px;
}
.poster_header_up .poster_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 15;
}
.poster_header_up .poster_nav .header_prof_card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 576px) {
  .poster_header_up .poster_nav .header_prof_card {
    display: none;
  }
}
@media (max-width: 576px) {
  .poster_header_up .poster_nav .menu-container {
    position: static;
    margin-left: 15px;
  }
}

.SortButton h1 {
  font-family: Montserrat;
  font-size: 55px;
  font-weight: 600;
  line-height: 130%; /* 71.5px */
  text-align: center;
  margin-bottom: 43px;
}
@media (max-width: 1200px) {
  .SortButton h1 {
    font-size: 3rem;
  }
}
@media (max-width: 992px) {
  .SortButton h1 {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .SortButton h1 {
    font-size: 0.875rem;
  }
}
.SortButton_button_country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.SortButton button {
  border-radius: 5px;
  border: 1px solid #000;
  background: #fff;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #212121;
  text-align: center;
  align-self: center;
  padding: 11px 24px;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
@media (max-width: 1200px) {
  .SortButton button {
    font-size: 1.1rem;
    padding: 6px 16px;
  }
}
@media (max-width: 576px) {
  .SortButton button {
    font-size: 0.813rem;
    font-weight: 800;
    padding: 6px 16px;
  }
}
.SortButton button.active {
  border-radius: 5px;
  border: 1px solid #ff2c15;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff2c15), to(#fa9317));
  background: linear-gradient(180deg, #ff2c15 0%, #fa9317 100%);
  color: #fff;
}
.SortButton button:hover {
  border-radius: 5px;
  border: 1px solid #ff2c15;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff2c15), to(#fa9317));
  background: linear-gradient(180deg, #ff2c15 0%, #fa9317 100%);
  color: #fff;
}
@media (max-width: 1200px) {
  .SortButton {
    font-size: 1rem;
    width: 100%; /* Ширина 100%, чтобы кнопки могли выходить за границы экрана */
    overflow-x: auto; /* Включаем горизонтальную прокрутку */
    white-space: nowrap;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media (max-width: 576px) {
  .SortButton {
    font-size: 0.813rem;
  }
}

.textAria {
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  padding: 45px 45px 70px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 51px;
}
.textAria textarea {
  border-radius: 10px;
}
.textAria textarea::-webkit-input-placeholder {
  font-size: 22px;
  line-height: 120%; /* 26.4px */
  color: #000;
}
.textAria textarea::-moz-placeholder {
  font-size: 22px;
  line-height: 120%; /* 26.4px */
  color: #000;
}
.textAria textarea:-ms-input-placeholder {
  font-size: 22px;
  line-height: 120%; /* 26.4px */
  color: #000;
}
.textAria textarea::-ms-input-placeholder {
  font-size: 22px;
  line-height: 120%; /* 26.4px */
  color: #000;
}
.textAria textarea::placeholder {
  font-size: 22px;
  line-height: 120%; /* 26.4px */
  color: #000;
}
.textAria #charCount {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #000;
  font-size: 22px;
  font-weight: 400;
  line-height: 120%; /* 26.4px */
}
.textAria button {
  border-radius: 12px;
  border: none;
  background: linear-gradient(253deg, #f00 -14.77%, #ffb800 103.16%);
  color: #fff;
  padding: 13px 24px 12px 24px;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 120%; /* 26.4px */
}