@import "./breakpoint.scss";
.wrapper_bg {
  background-image: url("../assets/images/bg/sport-bg.png");
  background-size: cover;
}
.container-fluid {
  max-width: 1200px;
  @include large-screen {
    max-width: 1000px;
  }
  @include middle-screen {
    max-width: 850px;
  }
  @include small-screen {
    max-width: 600px;
  }
  @include very-small-screen {
    max-width: 400px;
  }
}
.poster_header_up {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px 30px 0px;
  position: relative;
  .logo_link {
    position: relative;
    z-index: 4;
  }
  .poster_nav {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 15;
    .menu-container {
      @include very-small-screen {
        display: none;
      }
    }
    .header_prof_card {
      align-items: center;
      @include very-small-screen {
        display: none;
      }
    }
  }
}
.auctionTitle {
  h3 {
    margin: 34px 0px 67px 0px;
    color: #000;
    font-size: 3.438rem;
    font-weight: 600;
    line-height: 130%;

    span {
      color: #ff0606;
    }
    @include middle-screen {
      font-size: 2rem;
      text-align: center;
    }
  }
  .infoAuction_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    @include middle-screen {
      flex-direction: column;
      gap: 30px;
      align-items: center;
    }
    ul {
      color: #000;
      font-size: 2.25rem;
      line-height: 120%; /* 35.46px */
      text-transform: uppercase;
      span {
        color: #ff0606;
      }
      @include middle-screen {
        font-size: 1.5rem;
      }
    }
    div {
      max-width: 446px;
      p {
        color: #000;
        text-align: center;
        font-family: Montserrat;
        font-size: 2.25rem;
        line-height: 98.5%;
        @include middle-screen {
          font-size: 1.5rem;
        }
      }
      .infoAuction_container_allstate {
        display: flex;
        flex-direction: column;
        align-items: center;

        .infoAuction_container_time {
          display: flex;
          span {
            padding: 11px 38px;
            font-size: 2.25rem;
            font-weight: 500;
            background-color: white;
            border: 2px solid #ff2c15;
            color: #ff2c15;
            @include small-screen {
              font-size: 1.6rem;
              padding: 6px 25px;
            }
          }
        }
        .infoAuction_container_day {
          display: flex;
          align-items: center;
          gap: 40px;
          span {
            color: #000;
            font-size: 36px;
            font-weight: 500;
            line-height: 98.5%;
          }
        }
      }
    }
  }
  .AuctionImage {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: end;
    margin-bottom: 80px;
    @include middle-screen {
      flex-direction: column;
      align-items: center;
    }
    .AuctionImage_info {
      color: #000;
      font-size: 2.25rem;
      font-weight: 400;
      line-height: 98.5%;
      span {
        color: red;
      }
      @include middle-screen {
        font-size: 1.5rem;
      }
    }
  }
}
.auction {
  h2 {
    color: #000;
    text-align: center;
    font-size: 3.438rem;
    font-weight: 600;
    line-height: 130%;
    text-align: center;
    @include middle-screen {
      font-size: 2rem;
    }
  }
  .auction_container {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    margin-bottom: 24px;
    @include middle-screen {
      justify-content: center;
    }
    .auction_container_card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      .auction_container_card_number {
        border: 1px solid red;
        border-radius: 50%;
        padding: 5px 15px;
        background-color: white;
      }
      .auction_container_card_content {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 15px;
        background: #fff;
        padding: 10px 20px 20px 20px;
        gap: 10px;
        width: 184px;
        height: 327px;
        justify-content: space-between;
        @include small-screen {
          width: 134px;
          height: 197px;
        }
        span {
          color: #000;
          font-family: Montserrat;
          font-size: 1.875rem;
          line-height: 98.5%; /* 35.46px */
          @include small-screen {
            font-size: 1rem;
          }
        }
        .auction_container_card_content_name {
          font-size: 1.25rem;
          line-height: 140%;
          @include small-screen {
            font-size: 0.9rem;
          }
        }
      }
    }
    .auction_container_cardplus {
      margin-top: 52px;
      display: flex;
      align-items: center;
      flex-direction: column;
      border-radius: 15px;
      background: #fff;
      padding: 10px 10px 20px 10px;
      gap: 30px;
      justify-content: flex-end;
      width: 214px;
      height: 327px;
      @include small-screen {
        width: 134px;
        height: 197px;
      }
      img {
        @include small-screen {
          width: 59px;
          height: 59px;
        }
      }
      span {
        border-radius: 10px;
        border: 1px solid #000;
        color: #000;
        text-align: center;
        font-size: 2.25rem;
        padding: 8px 9px 0px 16px;
        @include small-screen {
          font-size: 0.9rem;
        }
      }
    }
    .auction_container_cardpay {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 214px;
      height: 327px;
      margin-top: 52px;
      @include small-screen {
        width: 134px;
        height: 197px;
      }
      span {
        color: #000;
        font-size: 1.375rem;
        font-weight: 600;
        line-height: 120%;
        @include small-screen {
          font-size: 0.9rem;
        }
      }
      button {
        padding: 19px 43px;
        border-radius: 14px;
        background: linear-gradient(118deg, #ff2c15 -5.25%, #fa931a 98.66%);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #fff;
        font-family: Montserrat;
        font-size: 1.25rem;
        font-weight: 700;
        border: none;
        @include small-screen {
          font-size: 0.875rem;
          padding: 12px 6px;
        }
      }
    }
  }
  .auction_scroll {
    display: flex;
    @include small-screen {
      flex-direction: column-reverse;
      gap: 20px;
    }

    .auction_scroll_conditions {
      color: #000;
      font-size: 22px;
      font-weight: 600;
      line-height: 120%;
      text-transform: uppercase;
      max-width: 350px;
      display: block;
    }
    .auction_scroll_number {
      display: flex;
      align-items: center;
      gap: 30px;
      @include small-screen {
        flex-wrap: wrap;
      }
      .scrollBt {
        display: flex;

        button {
          border: none;
          background: #ff4415;
          padding: 10px;
        }
        .scrollBt_prev {
          border-radius: 6px 0px 0px 6px;
        }
        .scrollBt_next {
          border-radius: 0px 6px 6px 0px;
        }
      }
      span {
        color: #000;
        font-family: Montserrat;
        font-size: 20px;
        line-height: 140%;
      }
      .auction_scroll_number_first {
        padding: 1px 10px 1px 4px;
        border: 3px solid #ff2c15;
        background: #fff;
        color: #000;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 700;
      }
    }
    .showAll {
      span {
        color: #ff0606;
        font-size: 22px;
        font-weight: 600;
        line-height: 120%; /* 26.4px */
      }
    }
  }
}
.ItsInteresting {
  background: linear-gradient(265deg, #f00 -74.64%, #ffd466 112.9%);
  padding-top: 40px;
  margin-top: 30px;
  &_content {
    display: flex;
    justify-content: space-between;
    gap: 130px;
    @include middle-screen {
      flex-direction: column;
    }
    img {
      @include small-screen {
        display: none;
      }
    }
    &_text {
      display: flex;
      flex-direction: column;
      gap: 50px;
      h2 {
        color: #fff;
        font-size: 3.438rem;
        font-weight: 600;
        line-height: 130%; /* 71.5px */
        @include middle-screen {
          font-size: 2.8rem;
        }
        @include very-small-screen {
          font-size: 1.125rem;
        }
      }
      span {
        color: #fff;
        font-size: 1.375rem;
        line-height: 120%; /* 26.4px */
        @include middle-screen {
          font-size: 1rem;
        }
        @include very-small-screen {
          font-size: 0.875rem;
        }
      }
    }
  }
}
.podium {
  .podium_button {
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 42px;
    flex-wrap: wrap;
    button {
      padding: 7px 15px 7px 15px;
      border-radius: 7px;
      box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.04),
        0px 3px 8px 0px rgba(0, 0, 0, 0.12);
      color: #000;
      text-align: center;
      font-size: 22px;
      line-height: 120%; /* 26.4px */
      border: none;
    }
  }
}
footer {
  margin-top: 60px;
}
