@import "./breakpoint.scss";
.wrapper_bg {
  background-image: url("../assets/images/bg/movie-bg.png");
  background-size: cover;
}
.container_fluid {
  max-width: 1440px;
  margin: 0 auto;
  padding: 17px;
  @include x-large-screen {
    max-width: 1245px;
  }
  @include large-screen {
    max-width: 1140px;
  }

  @include middle-screen {
    max-width: 960px;
  }
  @include small-screen {
    max-width: 720px;
  }
  @include very-small-screen {
    max-width: 540px;
  }
}
.poster_header_up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 10px 30px 10px;
  .poster_nav {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 15;
    .header_prof_card {
      align-items: center;
      @include very-small-screen {
        display: none;
      }
    }
    .menu-container {
      @include very-small-screen {
        position: static;
        margin-left: 15px;
      }
    }
  }
}
.MainTitle {
  h2 {
    text-align: center;
    font-family: Montserrat;
    font-size: 55px;
    font-weight: 600;
    line-height: 130%; /* 71.5px */
  }
}

.payment {
  display: flex;
  align-items: center;
  &_img {
    max-height: 550px;
    .MyIncome_content_main_img {
      img:hover {
        transform: scale(1.1);
      }
      .rotate {
        transform: rotate(40deg);
      }
      .rotate:hover {
        transform: rotate(40deg) scale(1.1);
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .moreStar {
        display: flex;
      }
      img {
        align-self: center;
        flex-direction: column;
        display: flex;

        @include middle-screen {
          display: none;
        }
      }
    }
  }
  button {
    border-radius: 12px;
    border: 1px solid #f00;
    background: linear-gradient(253deg, #f00 -14.77%, #ffb800 103.16%);
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    line-height: 120%; /* 26.4px */
    padding: 17px 53px;
    border: none;
    margin-left: 224px;
  }
}
