@import "./breakpoint.scss";
.wrapper_bg {
  background-image: url("../assets/images/bg/movie-bg.png");
  background-size: cover;
}

.container_fluid {
  max-width: 1440px;
  margin: 0 auto;
  padding: 17px;
  @include x-large-screen {
    max-width: 1245px;
  }
  @include large-screen {
    max-width: 1140px;
  }

  @include middle-screen {
    max-width: 960px;
  }
  @include small-screen {
    max-width: 720px;
  }
  @include very-small-screen {
    max-width: 540px;
  }
}
.poster_header_up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 10px 30px 10px;
  .poster_nav {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 15;
    .header_prof_card {
      align-items: center;
      @include very-small-screen {
        display: none;
      }
    }
    .menu-container {
      @include very-small-screen {
        position: static;
        margin-left: 15px;
      }
    }
  }
}
.sortDate {
  &_title {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    h1 {
      color: #000000;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Montserrat;
      font-size: 3.4rem;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
      width: 611px;
      @include middle-screen {
        font-size: 3rem;
        width: auto;
      }
      @include very-small-screen {
        font-size: 0.875rem;
      }
      @include small-screen {
        font-size: 2.2rem;
      }
    }
    h3 {
      width: 410px;
      color: #000;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Montserrat;
      font-size: 2.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: 98.5%;
      @include middle-screen {
        font-size: 1.8rem;
        width: auto;
      }
      @include very-small-screen {
        display: none;
      }
    }
  }
  .sortDate_button {
    margin-left: 180px;
    display: flex;
    flex-direction: column;
    @include large-screen {
      margin-left: 0px;
      margin-top: 15px;
    }
    &_group,
    &_country {
      display: flex;
      gap: 15px;
      margin-bottom: 40px;
      img {
        @include x-large-screen {
          display: none;
        }
      }
      select.active {
        background: var(--q, linear-gradient(180deg, #ff2c15 0%, #fa9317 100%));
        color: white;
        option {
          color: black;
        }
      }
      select {
        border: 1px solid #000;
        border-radius: 5px;
        background: #fff;
        color: #212121;
        padding: 11px 24px;
        font-size: 1.25rem;
        align-self: center;
        font-weight: 700;
        option {
          border-radius: 5px;
          background: #ffffff;
          font-size: 1.3rem;
          @include large-screen {
            font-size: 1.1rem;
          }
          @include very-small-screen {
            font-size: 0.813rem;
            font-weight: 800;
          }
        }
        @include large-screen {
          font-size: 1.1rem;
          padding: 6px 16px;
        }
        @include very-small-screen {
          font-size: 0.813rem;
          font-weight: 800;
          padding: 6px 16px;
        }
      }
      button {
        border-radius: 5px;
        border: 1px solid #000;
        background: #fff;
        transition: color 0.5s;
        align-self: center;
        color: #212121;
        text-align: center;
        align-self: center;
        padding: 11px 24px;
        font-family: Montserrat;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        align-items: center;
        gap: 5px;

        @include large-screen {
          font-size: 1.1rem;
          padding: 6px 16px;
        }
        @include very-small-screen {
          font-size: 0.813rem;
          font-weight: 800;
          padding: 6px 16px;
        }
      }
      button.active {
        border-radius: 5px;
        border: 1px solid var(--q, #ff2c15);
        background: var(--q, linear-gradient(180deg, #ff2c15 0%, #fa9317 100%));
        color: #fff;
      }
      button:hover {
        border-radius: 5px;
        border: 1px solid var(--q, #ff2c15);
        background: var(--q, linear-gradient(180deg, #ff2c15 0%, #fa9317 100%));
        color: #fff;
      }
      @include middle-screen {
        font-size: 1rem;
        width: 100%; /* Ширина 100%, чтобы кнопки могли выходить за границы экрана */
        overflow-x: auto; /* Включаем горизонтальную прокрутку */
        white-space: nowrap;
        flex-wrap: nowrap;
      }
      @include very-small-screen {
        font-size: 0.813rem;
      }
    }
    &_country {
      flex-wrap: wrap;
      button {
        color: #212121;
        text-align: center;
        font-family: Montserrat;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @include large-screen {
          font-size: 1.1rem;
        }
        @include very-small-screen {
          font-size: 0.813rem;
          font-weight: 700;
        }
      }
      &_input {
        border-radius: 5px;
        border: 1px solid #000;
        background: #fff;
        display: flex;
        padding: 7px 25px;
        color: #000;
        text-align: center;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        input {
          border: none;
        }
        input::placeholder {
          color: #000;
          text-align: center;
          font-family: Montserrat;
          font-size: 1.25rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        img {
          cursor: pointer;
        }
        @include very-small-screen {
          display: none;
        }
      }
      @include very-small-screen {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
      }
    }
    @include middle-screen {
      flex-direction: column-reverse;
    }
  }
  .wath_container {
    margin-bottom: 70px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 20px 30px 0px rgba(71, 169, 255, 0.3);
    padding: 67px 70px;
    @include middle-screen {
      padding: 20px 50px;
    }
    @include very-small-screen {
      padding: 20px 20px;
    }
    &_content_month {
      display: flex;
      justify-content: space-around;
      margin-bottom: 65px;
      flex-wrap: wrap;
      gap: 20px;
      button {
        color: #2e2c2c;
        text-align: center;
        font-feature-settings: "clig" off, "liga" off;
        font-family: Montserrat;
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 98.5%; /* 35.46px */
        transition: border-bottom 0.5s, mix-blend-mode 0.5s, padding-bottom 0.5s;
        border: none;
        @include large-screen {
          font-size: 2rem;
        }
        @include middle-screen {
          font-size: 1.5rem;
        }
      }
      button.active {
        border-bottom: 2px solid var(--q, #ff2c15);
        mix-blend-mode: darken;
        padding-bottom: 15px;
        background: linear-gradient(
          110deg,
          #ff2c15 -10.23%,
          #ffc477 -2.32%,
          #ff2713 6.28%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      button:nth-child(4),
      div:nth-child(5) {
        @include very-small-screen {
          display: none;
        }
      }
      button:hover {
        border-bottom: 2px solid var(--q, #ff2c15);
        mix-blend-mode: darken;
        padding-bottom: 15px;
        background: linear-gradient(
          110deg,
          #ff2c15 -10.23%,
          #ffc477 -2.32%,
          #ff2713 6.28%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      div {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
    &_content_day {
      display: flex;
      justify-content: space-between;
      margin-bottom: 77px;
      div {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        span:not(.wath_container_content_day_number) {
          text-align: center;
          background: linear-gradient(253deg, #f00 -14.77%, #ffb800 103.16%);
          background-clip: text;
          color: transparent;
          font-family: Montserrat;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .wath_container_content_day_number {
          color: #000;
          text-align: center;
          font-feature-settings: "clig" off, "liga" off;
          font-family: Montserrat;
          font-size: 2.25rem;
          font-style: normal;
          font-weight: 400;
          line-height: 98.5%;
          cursor: pointer;
          @include middle-screen {
            font-size: 1.8rem;
          }
        }
        .wath_container_content_day_number:hover {
          color: red;
        }
      }
      div:last-child {
        display: none;
      }
    }
    &_content_date_text {
      color: #ff2c15;
      font-family: Montserrat;
      font-size: 1.938rem;
      font-style: normal;
      font-weight: 700;
      line-height: 26px; /* 72.222% */
      @include small-screen {
        font-size: 1.2rem;
        font-weight: 500;
        text-align: center;
      }
    }
    h5 {
      color: #000;
      margin-bottom: 66px;
      font-family: Montserrat;
      font-size: 2.25rem;
      font-style: normal;
      font-weight: 700;
      @include large-screen {
        font-size: 2rem;
        font-weight: 600;
      }
      @include small-screen {
        font-size: 1.7rem;
      }
    }
    .wath_container_content_note {
      display: flex;
      flex-direction: column;
      gap: 43px;
      margin-top: 92px;
      .note {
        display: flex;
        justify-content: space-between;
        border-bottom: #000 solid 3px;
        padding-bottom: 16px;
        gap: 10px;
        span {
          color: #000;
          font-feature-settings: "clig" off, "liga" off;
          font-family: Montserrat;
          font-size: 2.25rem;
          font-style: normal;
          font-weight: 600;
          line-height: 130%; /* 46.8px */
          text-transform: uppercase;
          @include large-screen {
            font-size: 2rem;
          }
          @include middle-screen {
            font-size: 1.5rem;
          }
          @include small-screen {
            font-size: 1.2rem;
          }
        }
        button {
          border-radius: 12px;
          background: linear-gradient(253deg, #f00 -14.77%, #ffb800 103.16%);
          padding: 16px 27px;
          color: #fff;
          border: none;
          color: #fff;
          text-align: center;
          font-family: Montserrat;
          font-size: 2rem;
          font-weight: 700;
          @include large-screen {
            font-size: 1.7rem;
            padding: 10px 20px;
          }
          @include middle-screen {
            font-size: 1.5rem;
            padding: 5px 10px;
            font-weight: 600;
          }
          @include small-screen {
            font-size: 1.4rem;
          }
          @include very-small-screen {
            font-size: 0.625rem;
            font-weight: 700;
            line-height: 20px;
          }
        }
      }
    }
  }
}
.card_date {
  color: #ff2c15;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 98.5%;
  @include small-screen {
    font-size: 2.2rem;
  }
  @include very-small-screen {
    font-size: 2rem;
  }
}
.allcard_container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 100px;
  margin-top: 70px;
  justify-content: center;
  @include middle-screen {
    row-gap: 40px;
  }
  .card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #ffffff;
    max-width: 389px;
    gap: 15px;
    margin-top: 0px;
    padding-bottom: 20px;
    box-shadow: 0px 4px rgb(143, 142, 142);
    @include very-small-screen {
      max-width: 153px;
    }
    span {
      margin-left: 15px;
    }
    &_name {
      color: #000;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Montserrat;
      font-size: 2.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: 98.5%;
      @include middle-screen {
        font-size: 1.7rem;
      }
      @include very-small-screen {
        font-size: 0.875rem;
      }
    }
    &_description {
      color: #000;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Montserrat;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      @include middle-screen {
        font-size: 0.9rem;
      }
      @include very-small-screen {
        font-size: 0.625rem;
      }
    }
    .card_img {
      height: 378px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-size: cover;
      background-size: cover; /* Растягиваем картинку, чтобы она полностью покрывала фон */
      background-position: center;
      @include very-small-screen {
        max-height: 151px;
        border-radius: 10px 10px 0px 0px;
      }
      .card_img_participate {
        padding: 25px 38px;
        align-items: center;
        background-color: #000;
        display: flex;
        justify-content: space-between;
        border-radius: 0px 0px 15px 15px;
        @include very-small-screen {
          border-radius: 12px;
          background: linear-gradient(253deg, #f00 -14.77%, #ffb800 103.16%);
          padding: 2px 7px 2px 7px;
          align-self: baseline;
          align-items: center;
          margin-bottom: 13px;
          margin-left: auto;
        }
        img {
          @include very-small-screen {
            display: none;
          }
        }

        div {
          color: #fff;
          text-align: center;
          font-family: Montserrat;
          font-size: 1.25rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          @include middle-screen {
            font-size: 0.9rem;
          }
          @include very-small-screen {
            color: #fff;
            font-size: 10px;
            font-weight: 700;
            line-height: 20px;
          }
        }
      }
      .card_date {
        color: #000000;
        text-align: center;
        font-feature-settings: "clig" off, "liga" off;
        font-family: Montserrat;
        font-size: 1.25rem;
        margin: 28px 0px 0px 33px;
        display: inline-block;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        border-radius: 12px;
        border: 1px solid #000000;
        padding: 5px 36px;
        align-self: baseline;
        @include middle-screen {
          font-size: 0.9rem;
          margin: 5px 0px 0px 5px;
          padding: 5px 5px;
        }
      }
    }
  }
  .card:hover {
    transform: scale(1.03);
    transition: all 200ms;
  }
}
.organization_poster {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  margin: 25px 0px 0px 0px;
  /* Начертание для банера */
  font-family: Montserrat;
  font-size: 36px;
  font-style: italic;
  font-weight: 500;
  line-height: 98.5%; /* 35.46px */
}

.announcements {
  h3 {
    color: #000;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Montserrat;
    font-size: 36px;
    font-style: italic;
    font-weight: 500;
    line-height: 98.5%;
    text-align: center;
    margin-bottom: 30px;
  }
  .announcements_container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 101px;
    @include x-large-screen {
      align-items: center;
      justify-content: center;
    }
    img {
      align-self: baseline;
      @include large-screen {
        display: none;
      }
    }
    .announcements_block {
      border-radius: 9.747px;
      border: 1px solid #000;
      background: #fff;
      padding: 36px 50px 47px 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 900px;
      align-self: center;
      gap: 15px;
      @include middle-screen {
        width: auto;
        justify-content: center;
        padding: 28px 15px 47px 15px;
        margin-bottom: 40px;
      }

      .announcements_block_item {
        display: flex;
        gap: 20px;
        align-items: end;
        border-bottom: 1px solid black;

        .announcements_block_item_name {
          color: #000;
          font-feature-settings: "clig" off, "liga" off;
          font-family: Montserrat;
          font-size: 2.25rem;
          font-style: normal;
          font-weight: 400;
          line-height: 120.5%; /* 35.46px */
          @include middle-screen {
            font-size: 1.8rem;
          }
        }
        .announcements_block_item_watch {
          color: #ff0606;
          font-family: Montserrat;
          font-size: 1.25rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          @include middle-screen {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
