@import "./breakpoint.scss";
.wrapper_bg {
  background-image: url("../assets/images/bg/movie-bg.png");
  background-size: cover;
}

.container_fluid {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
  @include x-large-screen {
    max-width: 1245px;
  }
  @include large-screen {
    max-width: 1140px;
  }

  @include middle-screen {
    max-width: 960px;
  }
  @include small-screen {
    max-width: 720px;
  }
  @include very-small-screen {
    max-width: 540px;
  }
}
.poster_header_up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px 30px 0px;
  .poster_nav {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    .header_prof_card {
      align-items: center;
      @include very-small-screen {
        display: none;
      }
    }
  }
}
.sortDate {
  &_title {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    h1 {
      color: #000;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Montserrat;
      font-size: 3.4rem;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
      width: 611px;
      @include middle-screen {
        font-size: 3rem;
        width: auto;
      }
      @include very-small-screen {
        font-size: 0.875rem;
      }
      @include small-screen {
        font-size: 2.2rem;
      }
    }
    h3 {
      width: 410px;
      color: #000;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Montserrat;
      font-size: 2.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: 98.5%;
      @include middle-screen {
        font-size: 1.8rem;
        width: auto;
      }
      @include very-small-screen {
        display: none;
      }
    }
  }
  .sortDate_button {
    margin-left: 236px;
    @include large-screen {
      margin-left: 0px;
      margin-top: 15px;
    }
    &_group,
    &_country {
      display: flex;
      flex-wrap: wrap;
      gap: 27px;
      margin-bottom: 40px;
      @include large-screen {
        justify-content: center;
      }
      button {
        border-radius: 5px;
        border: 1px solid #000;
        background: #fff;
        transition: color 0.5s;
        color: #212121;
        text-align: center;
        padding: 11px 24px;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        align-items: center;
        gap: 5px;
        a {
          color: #000;
        }
      }
      button:hover {
        border-radius: 5px;
        border: 1px solid var(--q, #ff2c15);
        background: var(--q, linear-gradient(180deg, #ff2c15 0%, #fa9317 100%));
        color: #fff;
      }
    }
    &_country {
      button {
        color: var(--, #212121);
        text-align: center;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      &_input {
        border-radius: 5px;
        border: 1px solid #000;
        background: #fff;
        display: flex;
        padding: 13px 25px;
        color: #000;
        text-align: center;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        input {
          border: none;
        }
        input::placeholder {
          color: #000;
          text-align: center;
          font-family: Montserrat;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        img {
          cursor: pointer;
        }
      }
    }
  }
  .wath_container {
    margin-bottom: 70px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 20px 30px 0px rgba(71, 169, 255, 0.3);
    padding: 20px 70px;
    @include middle-screen {
      padding: 20px 50px;
    }
    @include very-small-screen {
      padding: 20px 20px;
    }
    &_content_month {
      display: flex;
      justify-content: space-around;
      margin-bottom: 65px;
      flex-wrap: wrap;
      gap: 20px;
      span {
        color: #2e2c2c;
        text-align: center;
        font-feature-settings: "clig" off, "liga" off;
        font-family: Montserrat;
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 98.5%; /* 35.46px */
        transition: border-bottom 0.5s, mix-blend-mode 0.5s, padding-bottom 0.5s;
        @include large-screen {
          font-size: 2rem;
        }
        @include middle-screen {
          font-size: 1.5rem;
        }
      }
      span:hover {
        border-bottom: 2px solid var(--q, #ff2c15);
        mix-blend-mode: darken;
        padding-bottom: 15px;
        background: linear-gradient(
          110deg,
          #ff2c15 -10.23%,
          #ffc477 -2.32%,
          #ff2713 6.28%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      div {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
    &_content_day {
      display: flex;
      justify-content: space-between;
      margin-bottom: 77px;
      div {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        span:not(.wath_container_content_day_number) {
          text-align: center;
          background: linear-gradient(253deg, #f00 -14.77%, #ffb800 103.16%);
          background-clip: text;
          color: transparent;
          font-family: Montserrat;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .wath_container_content_day_number {
          color: #000;
          text-align: center;
          font-feature-settings: "clig" off, "liga" off;
          font-family: Montserrat;
          font-size: 2.25rem;
          font-style: normal;
          font-weight: 400;
          line-height: 98.5%;
          cursor: pointer;
          @include middle-screen {
            font-size: 1.8rem;
          }
        }
        .wath_container_content_day_number:hover {
          color: red;
        }
      }
    }
    &_content_date_text {
      color: #ff2c15;
      text-align: center;
      font-family: Montserrat;
      font-size: 31px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px; /* 72.222% */
    }
    h5 {
      color: #000;
      margin-bottom: 66px;
      font-family: Montserrat;
      font-size: 2.25rem;
      font-style: normal;
      font-weight: 700;
      @include large-screen {
        font-size: 2rem;
        font-weight: 600;
      }
      @include small-screen {
        font-size: 1.7rem;
      }
    }
    .wath_container_content_note {
      display: flex;
      flex-direction: column;
      gap: 43px;
      margin-top: 92px;
      .note {
        display: flex;
        justify-content: space-between;
        border-bottom: #000 solid 3px;
        padding-bottom: 16px;
        gap: 10px;
        span {
          color: #000;
          font-feature-settings: "clig" off, "liga" off;
          font-family: Montserrat;
          font-size: 2.25rem;
          font-style: normal;
          font-weight: 600;
          line-height: 130%; /* 46.8px */
          text-transform: uppercase;
          @include large-screen {
            font-size: 2rem;
          }
          @include middle-screen {
            font-size: 1.5rem;
          }
          @include small-screen {
            font-size: 1.2rem;
          }
        }
        button {
          border-radius: 12px;
          background: linear-gradient(253deg, #f00 -14.77%, #ffb800 103.16%);
          padding: 16px 27px;
          color: #fff;
          border: none;
          color: #fff;
          text-align: center;
          font-family: Montserrat;
          font-size: 2rem;
          font-weight: 700;
          @include large-screen {
            font-size: 1.7rem;
            padding: 10px 20px;
          }
          @include middle-screen {
            font-size: 1.5rem;
            padding: 5px 10px;
            font-weight: 600;
          }
          @include small-screen {
            font-size: 0.8rem;
          }
          @include very-small-screen {
            font-size: 0.5rem;
          }
        }
      }
    }
  }
}
.allcard {
  h2 {
    color: #000;
    font-feature-settings: "clig" off, "liga" off;
    max-width: 650px;
    /* ЗАГОЛОВОК */
    font-family: Montserrat;
    font-size: 3.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 71.5px */
    @include middle-screen {
      font-size: 3rem;
      width: auto;
    }
    @include small-screen {
      font-size: 2.2rem;
    }
    @include very-small-screen {
      font-size: 2rem;
    }
  }
  &_container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 100px;
    margin-top: 70px;
    justify-content: center;
    @include middle-screen {
      row-gap: 40px;
    }
    .card {
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      background: #fff;
      max-width: 389px;
      gap: 15px;
      margin-top: 0px;
      padding-bottom: 20px;

      span {
        margin-left: 15px;
      }
      &_name {
        color: #000;
        font-feature-settings: "clig" off, "liga" off;
        font-family: Montserrat;
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 98.5%;
        @include middle-screen {
          font-size: 1.7rem;
        }
      }
      &_description {
        color: #000;
        font-feature-settings: "clig" off, "liga" off;
        font-family: Montserrat;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        @include middle-screen {
          font-size: 0.9rem;
        }
      }
      .card_img {
        height: 378px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .card_img_participate {
          padding: 25px 38px;
          align-items: center;
          background-color: #000;
          display: flex;
          justify-content: space-between;
          border-radius: 0px 0px 15px 15px;
          div {
            color: #fff;
            text-align: center;
            font-family: Montserrat;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            @include middle-screen {
              font-size: 0.9rem;
            }
          }
        }
        .card_date {
          color: #fff;
          text-align: center;
          font-feature-settings: "clig" off, "liga" off;
          font-family: Montserrat;
          font-size: 1.25rem;
          margin: 28px 0px 0px 33px;
          display: inline-block;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          border-radius: 12px;
          border: 1px solid #fff;
          padding: 5px 36px;
          align-self: baseline;
          @include middle-screen {
            font-size: 0.9rem;
          }
        }
      }
    }
    .card:hover {
      transform: scale(1.03);
      transition: all 200ms;
    }
  }
  .organization_poster {
    color: #000;
    font-feature-settings: "clig" off, "liga" off;
    margin: 42px 0px 82px 0px;
    /* Начертание для банера */
    font-family: Montserrat;
    font-size: 36px;
    font-style: italic;
    font-weight: 500;
    line-height: 98.5%; /* 35.46px */
  }
}
.announcements {
  .announcements_firststar {
    margin-left: 100%;
    position: relative;
    right: 100px;
  }
  .star_last {
    position: relative;
    bottom: 50px;
    @include x-large-screen {
      display: none;
    }
  }
  .announcements_container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @include x-large-screen {
      align-items: center;
      justify-content: center;
    }
    img {
      @include x-large-screen {
        display: none;
      }
    }
    .announcements_block {
      border-radius: 9.747px;
      border: 1px solid #000;
      background: #fff;
      padding: 28px 50px 47px 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 900px;
      gap: 15px;
      @include middle-screen {
        width: auto;
        justify-content: center;
        padding: 28px 15px 47px 15px;
      }

      .announcements_block_item {
        display: flex;
        gap: 20px;
        align-items: end;
        border-bottom: 1px solid black;

        .announcements_block_item_name {
          color: #000;
          font-feature-settings: "clig" off, "liga" off;
          font-family: Montserrat;
          font-size: 2.25rem;
          font-style: normal;
          font-weight: 400;
          line-height: 120.5%; /* 35.46px */
          @include middle-screen {
            font-size: 1.8rem;
          }
        }
        .announcements_block_item_watch {
          color: #ff0606;
          font-family: Montserrat;
          font-size: 1.25rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          @include middle-screen {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
.footer {
  margin-top: 200px;
}
