@import "./breakpoint.scss";
.wrapper_bg {
  background-image: url("../assets/images/bg/sport-bg.png");
  background-size: cover;
}
.container-fluid {
  max-width: 1200px;
  @include large-screen {
    max-width: 1000px;
  }
  @include middle-screen {
    max-width: 850px;
  }
  @include small-screen {
    max-width: 600px;
  }
  @include very-small-screen {
    max-width: 400px;
  }
}
.goposter {
  display: flex;
  padding: 21.5px 40.734px 21.5px 93px;
  justify-content: flex-end;
  align-items: center;
  gap: 61px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 2.25rem;
  font-style: italic;
  border-radius: 20px;
  border: 4px solid #ff2c15;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  @include middle-screen {
    font-size: 1.8rem;
  }
  @include small-screen {
    font-size: 1.3rem;
    padding: 10px 25px 10px 25px;
    border: none;
  }
  @include very-small-screen {
    font-size: 0.875rem;
  }
}
.poster_header_up {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px 30px 0px;
  .logo_link {
    img {
      position: relative;
      z-index: 10;
    }
  }
  .poster_nav {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 15;
    .menu-container {
      @include very-small-screen {
        display: none;
      }
    }
    .header_prof_card {
      align-items: center;
      @include very-small-screen {
        display: none;
      }
    }
    .menu-container {
      @include very-small-screen {
        position: static;
        margin-left: 15px;
        display: block;
      }
    }
    .header_num {
      color: white;
    }
  }
}
.wathVideo {
  background-image: url("../assets/images/bg/football-bg.png");
  background-size: cover;
  position: relative;
  bottom: 100px;
  z-index: 2;
  padding-top: 45px;
  .wathVideo_content {
    .wathVideo_content_title {
      color: #fff;
      font-family: Montserrat;
      font-size: 3.438rem;
      font-weight: 600;
      line-height: 130%;
      position: relative;
      top: 80px;
      @include middle-screen {
        font-size: 3rem;
      }
      @include small-screen {
        font-size: 2.25rem;
        top: 49px;
      }
      @include very-small-screen {
        font-size: 0.875rem;
        top: 23px;
      }
      span {
        color: #ff0202;
      }
    }
    .wathVideo_content_video {
      border-radius: 15px;
      background: linear-gradient(252deg, #f00 -54.76%, #ffd466 103.16%);
      display: flex;
      flex-direction: column;
      .wathVideo_content_video {
        .playvideo {
          position: absolute;
          top: 40%;
          left: 45%;
          display: flex;
          z-index: 30;
          padding: 60px 60px 45px 60px;
          border: 3px white solid;
          border-radius: 120px;
          @include small-screen {
            border: 0px white solid;
            padding: 0px 0px 0px 0px;
            top: 44%;
          }
        }
        button {
          align-self: flex-end;
          display: none;
          border: 2px solid red;
          border-radius: 15px;
          padding: 10px;
          background: white;
          margin: 30px;
          @include middle-screen {
            display: block;
          }
        }
        video {
          border-radius: 15px;
          margin-bottom: 10px;
        }
        p {
          font-family: Montserrat;
          font-size: 2.25rem;
          line-height: 98.5%; /* 35.46px */
          max-width: 500px;
          text-align: center;
          margin: 0 auto;
          @include middle-screen {
            font-size: 1.8rem;
          }
          @include small-screen {
            font-size: 1.3rem;
          }
          @include very-small-screen {
            font-size: 0.875rem;
          }
        }
      }
      .wathVideo_content_video_cloud_button {
        display: flex;
        justify-content: center;
        padding: 40px 0px;
        .cloud_left {
          position: absolute;
          left: 0px;
          @include large-screen {
            display: none;
          }
        }
        .cloud_right {
          position: absolute;
          right: 0px;
          @include large-screen {
            display: none;
          }
        }
      }
    }
  }
}
.PosterInfo_content {
  margin-top: 100px;
  &_data {
    margin-bottom: 74px;
    display: flex;
    align-items: center;
    gap: 24px;
    @include middle-screen {
      flex-direction: column;
      margin-bottom: 30px;
    }
    &_profile {
      border-radius: 15px;
      background: #fff;
      padding: 24px 126px 34px 21px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      @include small-screen {
        background: none;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
        padding: 10px 15px 15px 20px;
      }
      span {
        color: #000;
        font-feature-settings: "clig" off, "liga" off;
        font-family: Montserrat;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 98.5%; /* 35.46px */
      }
      .PosterInfo_content_data_photo {
        margin-top: 15px;
        display: flex;
        gap: 20px;
        img {
          width: 115px;
        }
        .PosterInfo_content_data_starAndPoster {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 15px 0px;
          div {
            display: flex;
            align-items: center;
            gap: 22px;
            @include small-screen {
              gap: 8px;
            }
            span {
              @include small-screen {
                display: none;
              }
            }
            img {
              @include small-screen {
                width: 26px;
              }
            }
          }
          span {
            color: #000000;
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 700;
          }
        }
      }
    }
    &_date {
      text-align: center;
      h3 {
        color: #000;
        font-feature-settings: "clig" off, "liga" off;
        font-family: Montserrat;
        font-size: 3.125rem !important;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 71.5px */
        @include middle-screen {
          font-size: 2.7rem !important;
        }
        @include small-screen {
          font-size: 2.2rem !important;
        }
        @include very-small-screen {
          font-size: 0.875rem !important;
        }
      }
      span {
        color: #ff0606;
      }
    }
  }
  &_aboutStar {
    h3 {
      color: #000;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Montserrat;
      font-size: 55px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%; /* 71.5px */
      @include middle-screen {
        font-size: 3rem;
      }
      @include small-screen {
        font-size: 2.25rem;
      }
      @include very-small-screen {
        font-size: 0.875rem;
      }
    }
    &_content {
      display: flex;
      gap: 57px;
      margin: 60px 0px 30px 0px;
      @include small-screen {
        margin: 20px 0px 10px 0px;
        justify-content: center;
        gap: 0px;
      }
      img {
        @include middle-screen {
          display: none;
        }
      }
      &_text {
        border-radius: 15px;
        background: #ffffff;
        padding: 22px 11px 15px 22px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        max-width: 666px;
        align-self: baseline;
        @include small-screen {
          margin-bottom: 30px;
        }
        span {
          color: #000;
          font-family: Montserrat;
          font-size: 1.375rem;
          font-weight: 400;
          line-height: 120%; /* 26.4px */
          @include middle-screen {
            font-size: 1.1rem;
          }
          @include small-screen {
            font-size: 1rem;
          }
          @include very-small-screen {
            font-size: 0.875rem;
          }
        }
        button {
          display: flex;
          gap: 24px;
          margin: 20px 0px;
          font-family: Montserrat;
          font-size: 1.25rem;
          line-height: 140%; /* 28px */
          border: none;
          align-items: center;
          margin-left: auto;
        }
      }
    }
  }
  &_meeting {
    h3 {
      color: #000;
      font-family: Montserrat;
      font-size: 3.438rem;
      font-weight: 600;
      line-height: 130%; /* 71.5px */
      @include small-screen {
        font-size: 2.25rem;
      }
      @include very-small-screen {
        font-size: 0.875rem;
      }
    }
    &_text {
      margin: 36px 0px 46px 0px;
      border-radius: 15px;
      background: #fff;
      padding: 56px 60px 76px 38px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      @include small-screen {
        padding: 20px 20px 30px 10px;
        margin: 16px 0px 26px 0px;
      }
      ul {
        color: #000;
        font-feature-settings: "clig" off, "liga" off;
        display: flex;
        flex-direction: column;
        row-gap: 43px;
        /* Подзаголвок */
        font-family: Montserrat;
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 98.5%; /* 35.46px */
        @include middle-screen {
          font-size: 1.7rem;
        }
        @include small-screen {
          font-size: 1rem;
        }
        @include very-small-screen {
          font-size: 0.875rem;
        }
      }
      button {
        display: flex;
        gap: 24px;
        margin: 20px 0px;
        font-family: Montserrat;
        font-size: 1.25rem;
        line-height: 140%; /* 28px */
        border: none;
        align-items: center;
        margin-left: auto;
        display: none;
        @include middle-screen {
          display: block;
        }
      }
    }
  }
  &_slider,
  .videoStar {
    h3 {
      margin-top: 30px;
    }

    .slider_container_photo {
      border-radius: 7px;
      margin: 23px 0px 30px 0px;
      background: #fff;
      padding: 25px 17px;
      display: flex;
      overflow: hidden;
      gap: 31px;
      scroll-behavior: smooth;
      .PosterInfo_content_slider_item {
        max-width: 178px;
        span {
          color: rgba(0, 0, 0, 0.5);
          font-size: 11px;
          line-height: 120%;
          a {
            color: rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
    .slider_container_video {
      border-radius: 7px;
      margin: 23px 0px 30px 0px;
      background: #fff;
      padding: 25px 17px;
      display: flex;
      overflow: hidden;
      gap: 31px;
      scroll-behavior: smooth;
      .PosterInfo_content_slider_item {
        max-width: 178px;
        max-height: 190px;
        video {
          max-height: 100px;
        }
        .playvideo {
          position: relative;
          bottom: 100px;
          left: 40px;
          margin: 0 auto;
        }
        p {
          text-align: center;
          color: rgba(0, 0, 0, 0.5);
          font-size: 11px;
          line-height: 120%;
          position: relative;
          bottom: 80px;
        }
        a {
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
    .slider_container_button {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      button {
        display: flex;
        gap: 24px;
        font-family: Montserrat;
        font-size: 20px;
        line-height: 140%; /* 28px */
        border: none;
        align-items: center;
        color: #000;
        text-align: center;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 700;
        background-color: rgba(255, 0, 0, 0);
      }
    }
  }
}
.videoStar {
  display: flex;
  flex-direction: column;

  .playvideoLast {
    position: relative;
    padding: 60px 60px 45px 60px;
    border: 3px white solid;
    border-radius: 50%;
    top: 400px;
    align-self: center;
    @include middle-screen {
      top: 350px;
    }
    @include small-screen {
      top: 200px;
      border: none;
      padding: 0px 0px 0px 0px;
      border-radius: 0px;
    }
    @include very-small-screen {
      top: 160px;
    }
  }

  h3 {
    color: #000;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 71.5px */
    margin-bottom: 60px;
    @include middle-screen {
      font-size: 3rem;
    }
    @include small-screen {
      font-size: 2.25rem;
      margin-bottom: 20px;
      margin-top: 30px;
    }
    @include very-small-screen {
      font-size: 0.875rem;
    }
  }
}
.ItsInteresting {
  background: linear-gradient(265deg, #f00 -74.64%, #ffd466 112.9%);
  padding-top: 40px;
  margin-top: 30px;
  &_content {
    display: flex;
    justify-content: space-between;
    gap: 130px;
    @include middle-screen {
      padding: 40px 0px 30px 0px;
    }
    img {
      @include middle-screen {
        display: none;
      }
    }
    &_text {
      display: flex;
      flex-direction: column;
      gap: 50px;
      h2 {
        color: #fff;
        font-size: 3.438rem;
        font-weight: 600;
        line-height: 130%; /* 71.5px */
        @include middle-screen {
          font-size: 2.8rem;
        }
        @include very-small-screen {
          font-size: 1.125rem;
        }
      }
      span {
        color: #fff;
        font-size: 1.375rem;
        line-height: 120%; /* 26.4px */
        @include middle-screen {
          font-size: 1rem;
        }
        @include very-small-screen {
          font-size: 0.875rem;
        }
      }
    }
  }
}
footer {
  margin-top: 80px;
}
