@import "./breakpoint.scss";
.wrapper_bg {
  background-image: url("../assets/images/bg/movie-bg.png");
  background-size: cover;
}
.container_fluid {
  max-width: 1440px;
  margin: 0 auto;
  padding: 17px;
  @include x-large-screen {
    max-width: 1245px;
  }
  @include large-screen {
    max-width: 1140px;
  }

  @include middle-screen {
    max-width: 960px;
  }
  @include small-screen {
    max-width: 720px;
  }
  @include very-small-screen {
    max-width: 540px;
  }
}
.poster_header_up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 10px 30px 10px;
  .poster_nav {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 15;
    .header_prof_card {
      align-items: center;
      @include very-small-screen {
        display: none;
      }
    }
    .menu-container {
      @include very-small-screen {
        position: static;
        margin-left: 15px;
      }
    }
  }
}
.SortButton {
  &_button_country {
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    margin-left: 240px;
    @include middle-screen {
      margin-left: 0px;
    }
  }
  button {
    border-radius: 5px;
    border: 1px solid #000;
    background: #fff;
    transition: color 0.5s;
    align-self: center;
    color: #212121;
    text-align: center;
    align-self: center;
    padding: 11px 24px;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 5px;

    @include large-screen {
      font-size: 1.1rem;
      padding: 6px 16px;
    }
    @include very-small-screen {
      font-size: 0.813rem;
      font-weight: 800;
      padding: 6px 16px;
    }
  }
  button.active {
    border-radius: 5px;
    border: 1px solid var(--q, #ff2c15);
    background: var(--q, linear-gradient(180deg, #ff2c15 0%, #fa9317 100%));
    color: #fff;
  }
  button:hover {
    border-radius: 5px;
    border: 1px solid var(--q, #ff2c15);
    background: var(--q, linear-gradient(180deg, #ff2c15 0%, #fa9317 100%));
    color: #fff;
  }
  @include large-screen {
    font-size: 1rem;
    width: 100%; /* Ширина 100%, чтобы кнопки могли выходить за границы экрана */
    overflow-x: auto; /* Включаем горизонтальную прокрутку */
    white-space: nowrap;
    flex-wrap: nowrap;
  }
  @include very-small-screen {
    font-size: 0.813rem;
  }
}
.MyIncome {
  .MyIncome_mobile {
    display: none;
    @include middle-screen {
      display: block;
    }
    h3 {
      text-align: center;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 98.5%; /* 17.73px */
      @include small-screen {
        font-size: 1.125rem;
      }
    }
    .MyIncome_mobile_content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin: 20px 0px 30px 0px;
      span {
        color: #000;
        text-align: center;
        font-family: Montserrat;
        font-size: 2.25rem;
        font-weight: 400;
        line-height: 98.5%;
        @include middle-screen {
          font-size: 1.8rem;
        }
        @include small-screen {
          font-size: 0.875rem;
        }
      }
      .MyIncome_money_mobile {
        display: flex;
        gap: 5px;
        border-radius: 5.882px;
        border: 2px solid #ff2c15;
        background: #fff;
        padding: 8px 10px 10px 15px;
        div {
          width: 25px;
          border-bottom: 2px solid rgb(0, 0, 0);
          color: #000;
          font-family: Montserrat;
          font-size: 36px;
          font-weight: 500;
          text-align: center;
          line-height: 130%;
          @include small-screen {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
  &_content {
    background: white;
    border-radius: 15px;
    padding: 35px 35px 35px 50px;
    &_title {
      display: flex;
      gap: 20px;
      justify-content: space-around;
      flex-wrap: wrap;
      h2 {
        color: #000;
        font-size: 55px;
        font-weight: 600;
        line-height: 130%;
        @include middle-screen {
          display: none;
        }
      }
      &_star {
        display: flex;
        gap: 10px;
        @include middle-screen {
          display: none;
        }
      }
      &_all {
        display: flex;
        align-items: center;
        gap: 15px;
        @include middle-screen {
          display: none;
        }
        span {
          color: #000;
          text-align: center;
          font-family: Montserrat;
          font-size: 36px;
          font-weight: 400;
          line-height: 98.5%; /* 35.46px */
        }
        &_money {
          display: flex;
          gap: 5px;
          border-radius: 5.882px;
          border: 2px solid #ff2c15;
          background: #fff;
          padding: 8px 10px 10px 15px;
          div {
            width: 25px;
            border-bottom: 2px solid rgb(0, 0, 0);
            color: #000;
            font-family: Montserrat;
            font-size: 36px;
            font-weight: 500;
            line-height: 130%;
          }
        }
      }
    }
    &_main {
      display: flex;
      gap: 20px;
      justify-content: space-around;
      margin-top: 46px;
      img {
        align-self: flex-end;
        @include middle-screen {
          display: none;
        }
      }
      &_Income {
        h3 {
          color: #000;
          font-size: 36px;
          font-weight: 400;
          line-height: 98.5%;
          @include middle-screen {
            display: none;
          }
        }
        ul {
          display: flex;
          gap: 10px;
          flex-direction: column;
          li {
            display: flex;
            gap: 10px;
            align-items: center;
            p {
              width: 100px;
              height: 21.899px;
              color: #000;
              font-size: 0.625rem;
              border-radius: 10px;
              background: #fff;
              display: flex;
              align-items: center;
              justify-content: center;
              line-height: 120%; /* 12px */
              margin: 0;
            }
            span {
              color: #000;
              font-size: 20px;
              font-weight: 700;
              @include small-screen {
                font-size: 0.875rem;
              }
            }
          }
        }
      }
      &_img {
        h5 {
          color: #000;
          font-family: Montserrat;
          font-size: 20px;
          font-weight: 700;
          text-align: center;
          @include middle-screen {
            display: none;
          }
        }
      }
    }
  }
}
.Currency {
  h2 {
    color: #000;
    font-size: 3.438rem;
    font-weight: 600;
    line-height: 130%; /* 71.5px */
    @include middle-screen {
      font-size: 2.7rem;
    }
    @include small-screen {
      font-size: 2rem;
    }
  }
  &_content {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    justify-content: center;
    margin-bottom: 15px;
    &_card {
      border-radius: 10px;
      background: #fff;
      box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      padding: 10px 45px;
      width: 383px;
      align-items: center;
      position: relative;
      @include small-screen {
        width: 141px;
        padding: 5px 20px;
      }
      input[type="checkbox"] {
        display: none;
      }

      label {
        display: inline-block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: absolute;
        align-self: flex-end;
        right: 10px;
        top: 10px;
        @include small-screen {
          width: 20px;
          height: 20px;
        }
      }

      label:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid black;
        border-radius: 50%;
      }

      label:after {
        content: "";
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      input[type="checkbox"]:checked + label:before {
        background-color: transparent; /* Сделаем фон прозрачным */
      }

      input[type="checkbox"]:checked + label:after {
        display: block;
        width: 19px;
        height: 14px;
        background-image: url("../assets/images/wallet/checked.svg");
      }
      label:after {
        background-image: linear-gradient(180deg, #ff0000 0%, #ffd466 100%);
        background-size: cover;
      }

      div {
        border-radius: 10px;
        border: 1px solid #f00;
        text-align: center;
        width: 100%;
        color: #000;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 700;
        margin: 34px 0px 22px 0px;
        @include small-screen {
          font-size: 12px;
          padding: 10px 20px;
        }
      }
      span {
        color: #000;
        font-family: Montserrat;
        font-size: 20px;
        line-height: 140%; /* 28px */
      }
    }
  }
  &_rule {
    text-align: end;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 400;
    line-height: 120%; /* 12px */
  }
}
.History {
  margin-top: 98px;
  h2 {
    color: #000;
    font-size: 55px;
    font-weight: 600;
    line-height: 130%; /* 71.5px */
  }
  &_container {
    margin-top: 63px;
    &_sort {
      border-bottom: 4px solid black;
      padding-bottom: 20px;
      @include middle-screen {
        border-bottom: none;
      }
      span {
        color: #000;
        font-size: 22px;
        font-weight: 400;
        line-height: 120%; /* 26.4px */
      }
      &_content {
        display: flex;
        align-items: center;
        gap: 10px;
        @include middle-screen {
          flex-wrap: wrap;
        }
        span {
          color: #000;
          font-size: 36px;
          font-weight: 400;
          line-height: 98.5%; /* 35.46px */
        }
        select {
          margin-right: 25px;
          background-color: rgba(0, 0, 0, 0);
          width: 199.972px;
          height: 41.93px;
          border-radius: 9.676px;
          option {
            color: #000;
            background-color: #00000000;
          }
        }
      }
    }
    &_content {
      margin-top: 41px;
      @include middle-screen {
        display: flex;
        flex-direction: column;
        gap: 40px;
      }
      &_item,
      &_item_black {
        display: grid;
        padding: 20px 0px;
        grid-template-columns: repeat(7, 1fr);
        align-items: center;
        span {
          text-align: center;
        }
        @include middle-screen {
          display: none;
        }
      }
      &_item_mobile {
        display: none;
        background-color: white;
        border-radius: 20px;
        padding: 23px 15px;
        @include middle-screen {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
        .mobile_content {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
      &_item_black {
        background-color: #000;
        color: white;
      }
    }
    &_change {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 30px;
      margin-top: 50px;
      span {
        color: #000;
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 400;
        line-height: 120%; /* 26.4px */
      }
      &_scrollBt {
        display: flex;
        button {
          border: none;
          background: #ff4415;
          padding: 10px;
        }
        &_prev {
          border-radius: 6px 0px 0px 6px;
        }
        &_next {
          border-radius: 0px 6px 6px 0px;
        }
      }
    }
  }
}
.WheelFortune {
  h2 {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 55px;
    font-weight: 600;
    line-height: 130%;
    max-width: 863px;
    margin: 0 auto;
    @include middle-screen {
      font-size: 2.7rem;
    }
    @include small-screen {
      font-size: 2rem;
    }
  }

  #app {
    height: 500px;
    $circle-shaped: 50%;
    position: relative;

    @mixin position-center-and-size($position, $size) {
      position: $position;
      width: $size;
      height: $size;
      left: calc(50% - #{$size}/ 2);
    }

    .wheel {
      @include position-center-and-size(relative, 450px);
      border-radius: $circle-shaped;
      border: 8px solid rgb(255, 255, 255);
      box-shadow: 0 0 6px 6px rgb(0, 0, 0);
      overflow: hidden;
      top: 20px;
      @include very-small-screen {
        @include position-center-and-size(absolute, 350px);
        top: 30px;
      }
      &:before {
        content: "";
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: $circle-shaped;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4) inset;
        z-index: 1;
      }

      .inner {
        width: 100%;
        height: 100%;
        transition: 5s;

        .slice {
          position: absolute;
          width: 0;
          height: 0;
          left: 70px;
          top: -160px;
          border-width: 380px 150px 0 150px;
          border-style: solid;
          transform-origin: 50% 100%;
          @include very-small-screen {
            left: 125px;
            top: -5px;
            border-width: 180px 50px 0 50px;
          }

          .prize {
            position: relative;
            display: block;
            transform: rotateZ(90deg);
            left: 8px;
            text-align: center;
            font-size: 28px;
            margin-top: -160px;
            margin-left: -15px;
            color: rgb(255, 255, 255);
            text-shadow: -1px -1px 0 rgb(88, 86, 81), 1px -1px 0 rgb(88, 86, 81),
              -1px 1px 0 rgb(88, 86, 81), 1px 1px 0 rgb(88, 86, 81);
          }
        }
      }
    }

    $slices-colors-list: #16a085 #962bc0 #34495e #d35400 #f39c12 #c02b58 #2980b9
      #50c556 #d31313 #800055 #c2b503 #008000;
    $slice-degrees-step: -30deg;

    @each $color in $slices-colors-list {
      $i: index($slices-colors-list, $color);
      $k: 1;

      .slice:nth-child(#{$i}) {
        border-color: $color transparent;
        transform: rotate(#{$slice-degrees-step * ($i - $k)});
      }
    }

    .wheel-outer {
      @include position-center-and-size(absolute, 500px);
      border-radius: $circle-shaped;
      top: 0px;
      box-shadow: 0 0 5px 5px rgb(85, 83, 83), 0 0 50px 50px rgb(0, 0, 0) inset;
      @include very-small-screen {
        @include position-center-and-size(absolute, 410px);
      }
    }

    #svg-arrow {
      position: absolute;
      top: -20px;
      left: calc(#{$circle-shaped} - 101px);
      z-index: 1;
    }

    #svg-dotted {
      @include position-center-and-size(absolute, 590px);
      top: -50px;
      #circle-dotted {
        fill: transparent;
        stroke: rgb(255, 255, 255);
        stroke-width: 4;
        stroke-dasharray: 0.1 23;
        stroke-dashoffset: 19.5;
        stroke-linecap: round;
      }
      @include small-screen {
        @include position-center-and-size(absolute, 490px);
        top: -40px;
      }
    }

    #spinBtn {
      @include position-center-and-size(relative, 50px);
      border-radius: $circle-shaped;
      outline: none;
      left: 48%;
      top: -236px;
      box-shadow: 0 0 5px 2px rgb(0, 0, 0);
      z-index: 10;
      background: linear-gradient(
        to bottom,
        rgb(252, 255, 244) 0%,
        rgb(223, 229, 215) 30%,
        rgb(179, 190, 173) 100%
      );
      @include small-screen {
        top: -220px;
        left: 45%;
      }
      @include very-small-screen {
        top: 190px;
        left: 45%;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }

  .WheelFortune_quantities {
    margin-top: 100px;
    h3 {
      color: #000;
      text-align: center;
      font-family: Montserrat;
      font-size: 2.25rem;
      font-weight: 400;
      line-height: 98.5%; /* 35.46px */
      @include middle-screen {
        font-size: 1.8rem;
      }
      @include small-screen {
        font-size: 1.4rem;
      }
    }
    h4 {
      color: #000;
      text-align: center;
      font-family: Montserrat;
      font-size: 55px;
      font-weight: 600;
      line-height: 130%; /* 71.5px */
      @include middle-screen {
        font-size: 2.7rem;
      }
      @include small-screen {
        font-size: 2rem;
      }
      span {
        color: #ff0606;
      }
    }
    &_content {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px 0px 50px 0px;
      gap: 40px;
      &_spin {
        display: flex;
        flex-direction: column;
        gap: 12px;
        button {
          border-radius: 5px;
          border: 3px solid #000;
          color: #212121;
          text-align: center;
          font-family: Montserrat;
          font-size: 22px;
          font-weight: 400;
          line-height: 120%; /* 26.4px */
          padding: 10px;
          background-color: #00000000;
        }
      }
      &_bye {
        border-radius: 14px;
        padding: 19px 43px;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        border: none;
        background: linear-gradient(118deg, #ff2c15 -5.25%, #fa931a 98.66%);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }
    }
  }
}
