@import "./breakpoint.scss";
.wrapper_bg {
  background-image: url("../assets/images/bg/movie-bg.png");
  background-size: cover;
}
.container_fluid {
  max-width: 1440px;
  margin: 0 auto;
  padding: 17px;
  @include x-large-screen {
    max-width: 1245px;
  }
  @include large-screen {
    max-width: 1140px;
  }

  @include middle-screen {
    max-width: 960px;
  }
  @include small-screen {
    max-width: 720px;
  }
  @include very-small-screen {
    max-width: 540px;
  }
}
.poster_header_up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 10px 30px 10px;
  .poster_nav {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 15;
    .header_prof_card {
      align-items: center;
      @include very-small-screen {
        display: none;
      }
    }
    .menu-container {
      @include very-small-screen {
        position: static;
        margin-left: 15px;
      }
    }
  }
}
.SortButton {
  h2 {
    font-family: Montserrat;
    font-size: 55px;
    font-weight: 600;
    line-height: 130%; /* 71.5px */
    margin-bottom: 43px;
    @include large-screen {
      font-size: 3rem;
    }
    @include middle-screen {
      font-size: 2rem;
    }
    @include small-screen {
      font-size: 1.6rem;
    }
    @include very-small-screen {
      font-size: 1.4rem;
    }
  }
  &_button_country {
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }
  button {
    border-radius: 5px;
    border: 1px solid #000;
    background: #fff;
    transition: color 0.5s;
    align-self: center;
    color: #212121;
    text-align: center;
    align-self: center;
    padding: 11px 24px;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 5px;

    @include large-screen {
      font-size: 1.1rem;
      padding: 6px 16px;
    }
    @include very-small-screen {
      font-size: 0.813rem;
      font-weight: 800;
      padding: 6px 16px;
    }
  }
  button.active {
    border-radius: 5px;
    border: 1px solid var(--q, #ff2c15);
    background: var(--q, linear-gradient(180deg, #ff2c15 0%, #fa9317 100%));
    color: #fff;
  }
  button:hover {
    border-radius: 5px;
    border: 1px solid var(--q, #ff2c15);
    background: var(--q, linear-gradient(180deg, #ff2c15 0%, #fa9317 100%));
    color: #fff;
  }
  @include large-screen {
    font-size: 1rem;
    width: 100%; /* Ширина 100%, чтобы кнопки могли выходить за границы экрана */
    overflow-x: auto; /* Включаем горизонтальную прокрутку */
    white-space: nowrap;
    flex-wrap: nowrap;
  }
  @include very-small-screen {
    font-size: 0.813rem;
  }
}
.MyIncome {
  &_title {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
    h2 {
      color: #000;
      font-size: 55px;
      font-weight: 600;
      line-height: 130%;
      @include middle-screen {
        display: none;
      }
    }
    &_star {
      display: flex;
      gap: 10px;
      @include middle-screen {
        display: none;
      }
    }
    &_all {
      display: flex;
      align-items: center;
      gap: 15px;
      button {
        color: #000000;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 98.5%; /* 35.46px */
        border-radius: 5px;
        background-color: white;
        padding: 12px 10px;
        border: none;
      }
      button.active {
        background: linear-gradient(180deg, #ff2c15 0%, #fa9317 100%);
        color: #ffffff;
      }
      span {
        color: #000;
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 400;
        line-height: 98.5%; /* 35.46px */
      }
      &_money {
        display: flex;
        gap: 5px;
        border-radius: 5.882px;
        border: 2px solid #ff2c15;
        background: #fff;
        padding: 8px 10px 10px 15px;
        div {
          width: 25px;
          border-bottom: 2px solid rgb(0, 0, 0);
          color: #000;
          font-family: Montserrat;
          font-size: 36px;
          font-weight: 500;
          line-height: 130%;
        }
      }
    }
  }
  &_content {
    background: white;
    border-radius: 15px;
    padding: 35px 35px 35px 50px;
    @include middle-screen {
      padding: 15px 15px 15px 20px;
    }
    &_main {
      display: flex;
      gap: 20px;
      max-height: 450px;
      justify-content: space-around;
      .MyIncome_content_main_img {
        @include large-screen {
          display: none;
        }
        img:hover {
          transform: scale(1.4);
        }
        .rotate {
          transform: rotate(40deg);
        }
        .rotate:hover {
          transform: rotate(40deg) scale(1.4);
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .moreStar {
          display: flex;
        }
        img {
          align-self: center;
          flex-direction: column;
          display: flex;

          @include middle-screen {
            display: none;
          }
        }
      }
      &_photo {
        @include middle-screen {
          display: none;
        }
      }
      &_Income {
        &_sort {
          display: flex;
          gap: 15px;
          align-items: center;
          margin-bottom: 50px;
          h3 {
            color: #000;
            font-size: 2.25rem;
            font-weight: 400;
            line-height: 98.5%;
            @include large-screen {
              font-size: 1.8rem;
            }
            @include middle-screen {
              display: none;
            }
          }
          select {
            margin-right: 25px;
            background-color: rgba(0, 0, 0, 0);
            text-align: center;
            height: 58.93px;
            border-radius: 9.676px;
            padding: 6px;
            font-size: 20px;
            @include large-screen {
              width: auto;
            }
            @include small-screen {
              font-size: 15px;
            }
            option {
              color: #000;
              background-color: #00000000;
            }
          }
        }

        ul {
          display: flex;
          gap: 10px;
          flex-direction: column;
          li {
            display: flex;
            gap: 10px;
            align-items: center;
            p {
              width: 100px;
              height: 21.899px;
              color: #000;
              font-size: 0.875rem;
              border-radius: 10px;
              background: #fff;
              display: flex;
              font-weight: 700;
              align-items: center;
              justify-content: center;
              line-height: 120%; /* 12px */
              margin: 0;
              @include small-screen {
                font-size: 0.65rem;
                width: 60px;
                font-weight: 600;
              }
            }
            span {
              color: #000;
              font-size: 1.25rem;
              font-weight: 700;
              text-transform: uppercase;
              @include large-screen {
                font-size: 0.8rem;
              }
              @include small-screen {
                font-size: 0.65rem;
              }
            }
          }
        }
      }
      &_img {
        h5 {
          color: #000;
          font-family: Montserrat;
          font-size: 20px;
          font-weight: 700;
          text-align: center;
          @include middle-screen {
            display: none;
          }
        }
      }
    }
  }
}
.History {
  margin-top: 75px;
  @include small-screen {
    margin-top: 20px;
  }
  &_info {
    font-family: Montserrat;
    font-size: 55px;
    font-weight: 600;
    line-height: 130%; /* 71.5px */
    margin-bottom: 70px;
    @include large-screen {
      font-size: 3rem;
    }
    @include middle-screen {
      font-size: 2rem;
    }
    @include small-screen {
      font-size: 1.6rem;
    }
  }
  h2 {
    color: #000;
    font-size: 55px;
    font-weight: 600;
    line-height: 130%; /* 71.5px */
    @include large-screen {
      font-size: 3rem;
    }
    @include middle-screen {
      font-size: 2rem;
    }
    @include small-screen {
      font-size: 1.6rem;
    }
  }
  &_container {
    margin-top: 63px;
    &_sort {
      @include middle-screen {
        border-bottom: none;
      }
      span {
        color: #000;
        font-size: 1.375rem;
        font-weight: 400;
        line-height: 120%; /* 26.4px */
      }
      &_content {
        display: flex;
        align-items: center;
        gap: 38px;
        @include middle-screen {
          flex-wrap: wrap;
        }
        div {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          label {
            font-size: 1.375rem;
            font-weight: 400;
            line-height: 120%; /* 26.4px */
            @include small-screen {
              font-size: 1rem;
            }
            @include very-small-screen {
              font-size: 0.875rem;
            }
          }
          select {
            background-color: rgb(255, 255, 255);
            width: 180px;
            height: 50px;
            border-radius: 9.676px;
            color: #ff2c15;
            text-align: center;
            font-feature-settings: "clig" off, "liga" off;
            font-size: 1.375rem;
            font-weight: 400;
            line-height: 120%; /* 26.4px */
            @include small-screen {
              font-size: 1rem;
            }
            @include very-small-screen {
              font-size: 0.875rem;
            }
            option {
              color: #000;
              background-color: #ffffff;
              line-height: 150%;
            }
          }
        }
        span {
          color: #000;
          font-size: 2.25px;
          font-weight: 400;
          line-height: 98.5%; /* 35.46px */
          @include middle-screen {
            font-size: 1.8rem;
          }
          @include small-screen {
            font-size: 1.2rem;
          }
        }
      }
    }
    &_content {
      margin-top: 41px;
      @include middle-screen {
        display: flex;
        flex-direction: column;
        gap: 40px;
      }
      #historyContainer {
        @include middle-screen {
          display: flex;
          flex-direction: column;
          gap: 40px;
        }
      }
      &_item_title {
        display: grid;
        margin-bottom: 22px;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        background-color: #000;
        color: white;
        span {
          padding: 11px 0px;
          border-left: 1px solid white;
          border-right: 1px solid white;
          text-align: center;
          color: #fff;
          font-size: 22px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%; /* 26.4px */
        }
        @include middle-screen {
          display: none;
        }
      }
      &_item {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        column-gap: 9px;
        margin-top: 11px;
        span {
          padding: 11px 0px;
          text-align: center;
          background: rgba(255, 233, 196);
          color: #000;
          font-size: 1.375rem;
          font-weight: 700;
          line-height: 120%; /* 26.4px */
          @include large-screen {
            font-size: 0.9rem;
          }
        }
        @include middle-screen {
          display: none;
        }
      }
      &_item_mobile {
        display: none;
        background-color: white;
        border-radius: 20px;
        padding: 23px 15px;
        @include middle-screen {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
        .mobile_content {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }
    &_change {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 30px;
      margin-top: 50px;
      span {
        color: #000;
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 400;
        line-height: 120%; /* 26.4px */
      }
      &_scrollBt {
        display: flex;
        button {
          border: none;
          background: #ff4415;
          padding: 10px;
        }
        &_prev {
          border-radius: 6px 0px 0px 6px;
        }
        &_next {
          border-radius: 0px 6px 6px 0px;
        }
      }
    }
  }
}
.WheelFortune {
  h2 {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 55px;
    font-weight: 600;
    line-height: 130%;
    max-width: 863px;
    margin: 0 auto;
    @include middle-screen {
      font-size: 2.7rem;
    }
    @include small-screen {
      font-size: 2rem;
    }
  }

  #app {
    height: 550px;
    $circle-shaped: 50%;
    position: relative;

    @mixin position-center-and-size($position, $size) {
      position: $position;
      width: $size;
      height: $size;
      left: calc(50% - #{$size}/ 2);
    }

    .wheel {
      @include position-center-and-size(relative, 550px);
      border-radius: $circle-shaped;
      border: 20px solid rgb(0, 0, 0);
      // box-shadow: 0 0 6px 6px rgb(0, 0, 0);
      overflow: hidden;
      top: 20px;
      @include very-small-screen {
        @include position-center-and-size(absolute, 450px);
        top: 30px;
      }
      &:before {
        content: "";
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: $circle-shaped;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4) inset;
        z-index: 1;
      }

      .inner {
        width: 100%;
        height: 100%;
        transition: 5s;

        .slice {
          position: absolute;
          width: 0;
          height: 0;
          left: 50px;
          top: -180px;
          border-width: 430px 200px 0 200px;
          border-style: solid;
          transform-origin: 50% 100%;
          @include very-small-screen {
            left: 105px;
            top: -25px;
            border-width: 230px 100px 0 100px;
          }

          .prize.child-1,
          .prize.child-3,
          .prize.child-6,
          .prize.child-8 {
            color: #ffaa00;
            font-size: 32px;
            font-weight: 600;
            text-align: center;
            line-height: 120%; /* 60px */
            @include very-small-screen {
              font-size: 20px;
            }
          }
          .prize.child-2,
          .prize.child-4,
          .prize.child-5,
          .prize.child-7 {
            color: #000000;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            line-height: 120%; /* 60px */
            margin-top: -245px;
            margin-left: -15px;
            @include very-small-screen {
              font-size: 12px;
              margin-top: -180px;
            }
          }
          .prize {
            position: relative;
            display: block;
            transform: rotateZ(90deg);
            left: 8px;
            text-align: center;
            font-size: 28px;
            margin-top: -240px;

            text-shadow: -1px -1px 0 rgb(88, 86, 81), 1px -1px 0 rgb(88, 86, 81),
              -1px 1px 0 rgb(88, 86, 81), 1px 1px 0 rgb(88, 86, 81);
            @include very-small-screen {
              margin-top: -160px;
            }
          }
        }
      }
    }

    $slices-colors-list: #16a085 #962bc0 #34495e #d35400 #f39c12 #c02b58 #2980b9
      #50c556 #d31313 #800055 #c2b503 #008000;
    $slice-degrees-step: -45deg;

    @each $color in $slices-colors-list {
      $i: index($slices-colors-list, $color);
      $k: 1;

      .slice:nth-child(#{$i}) {
        border-color: $color transparent;
        transform: rotate(#{$slice-degrees-step * ($i - $k)});
      }
    }

    .wheel-outer {
      @include position-center-and-size(absolute, 550px);
      border-radius: $circle-shaped;
      top: 20px;
      // box-shadow: 0 0 5px 5px rgb(85, 83, 83), 0 0 20px 20px rgb(0, 0, 0) inset;
      @include very-small-screen {
        @include position-center-and-size(absolute, 410px);
      }
    }

    #svg-arrow {
      position: absolute;
      top: -8px;
      left: calc(#{$circle-shaped} - 101px);
      z-index: 1;
      @include very-small-screen {
        top: -0px;
      }
    }

    #svg-dotted {
      @include position-center-and-size(absolute, 660px);
      top: -40px;
      #circle-dotted {
        fill: transparent;
        stroke: rgb(255, 255, 255);
        stroke-width: 4;
        stroke-dasharray: 0.1 23;
        stroke-dashoffset: 19.5;
        stroke-linecap: round;
      }
      @include very-small-screen {
        @include position-center-and-size(absolute, 540px);
        top: -15px;
      }
    }

    #spinBtn {
      @include position-center-and-size(relative, 50px);
      border-radius: $circle-shaped;
      outline: none;
      left: 48%;
      top: -276px;
      box-shadow: 0 0 5px 2px rgb(0, 0, 0);
      z-index: 10;
      background: linear-gradient(
        to bottom,
        rgb(252, 255, 244) 0%,
        rgb(223, 229, 215) 30%,
        rgb(179, 190, 173) 100%
      );
      @include very-small-screen {
        top: 230px;
        left: 45%;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }

  .WheelFortune_quantities {
    margin-top: 100px;
    h3 {
      color: #000;
      text-align: center;
      font-family: Montserrat;
      font-size: 2.25rem;
      font-weight: 400;
      line-height: 98.5%; /* 35.46px */
      @include middle-screen {
        font-size: 1.8rem;
      }
      @include small-screen {
        font-size: 1.4rem;
      }
    }
    h4 {
      color: #000;
      text-align: center;
      font-family: Montserrat;
      font-size: 55px;
      font-weight: 600;
      line-height: 130%; /* 71.5px */
      @include middle-screen {
        font-size: 2.7rem;
      }
      @include small-screen {
        font-size: 2rem;
      }
      span {
        color: #ff0606;
      }
    }
    &_content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 17px;
      margin: 50px 0px 50px 0px;
      button {
        border-radius: 5px;
        border: 3px solid #000;
        color: #212121;
        text-align: center;
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 400;
        line-height: 120%; /* 26.4px */
        padding: 10px;
        background-color: #00000000;
        width: 253px;
      }
      button.active {
        border: 3px solid red;
      }
      button:hover {
        transform: scale(1.04);
      }
      .WheelFortune_quantities_content_bye {
        border-radius: 14px;
        padding: 19px 43px;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        border: none;
        background: linear-gradient(118deg, #ff2c15 -5.25%, #fa931a 98.66%);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

