body {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(180deg, #FDDFA1 0%, #FFB959 55.21%, #FF997E 100%); */
    background-image: url(../image-home/kinofon.png);
    background-size: cover;
    background-repeat: no-repeat;
}

 .container {
    max-width: 1190px;
    margin: 0 auto;
 }

 @media (max-width: 360px) {
   body {
      background: linear-gradient(180deg, #FDDFA1 0%, #FFB959 55.21%, #FF997E 100%);

}
   .container {
      max-width: 328px;
   }
 }
 .sortDate_button_group select.active {
   background: var(--q, linear-gradient(180deg, #ff2c15 0%, #fa9317 100%));
   color: white;
   option {
     color: black;
   }
 }
 .sortDate_button_group select {
   border: 1px solid #000;
   border-radius: 5px;
   background: #fff;
   color: #212121;
   padding: 11px 24px;
   font-size: 1.25rem;
   align-self: center;
   font-weight: 700;
   font-family: Montserrat;
 }
 .sortDate_button_group select option {
      border-radius: 5px;
      background: #ffffff;
      font-size: 1.3rem;
  
 }
 .sortDate_button_group button {
   border-radius: 5px;
   border: 1px solid #000;
   background: #fff;
   transition: color 0.5s;
   align-self: center;
   color: #212121;
   text-align: center;
   padding: 11px 24px;
   font-family: Montserrat;
   font-size: 1.25rem;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   display: flex;
   align-items: center;
   gap: 5px;
 }
 .sortDate_button_group button.active {
   border-radius: 5px;
   border: 1px solid var(--q, #ff2c15);
   background: var(--q, linear-gradient(180deg, #ff2c15 0%, #fa9317 100%));
   color: #fff;
 }
 .sortDate_button_group button:hover {
   border-radius: 5px;
   border: 1px solid var(--q, #ff2c15);
   background: var(--q, linear-gradient(180deg, #ff2c15 0%, #fa9317 100%));
   color: #ffffff;
 }
 .sortDate_button_group {
   display: flex;
   gap: 15px;
   margin-bottom: 40px;
 }

 