.carts {
    /* height: 1080px; */
}

.cartsmobil {
    display: none;
}


.carts__losso {
    position: relative;
    bottom: 1000px;
    z-index: -1;
    left: 706px;
    opacity: 0.5;
}

.carts__wrapper {
    display: grid;
    grid-template-columns: repeat(6, min-content);
    gap: 21px;
    margin-bottom: 44px;
}




.carts__wrapper-item span {
    display: block;
    color: #212121;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
}

.carts__wrapper-item-image {
    width: 182px;
    height: 177px;
    border: 1px solid rgba(159, 35, 35, 0);
}

.carts__wrapper-item-image:hover {
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #FF2C15;
    /* width: 180px; */
    /* height: 174px; */
}

.carts__wrapper-item-star {
    pointer-events: none;
}

.carts__wrapper-item-star {
    position: relative;
    bottom: 40px;
}

.carts__wrapper-news {
    color: #212121;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    border-radius: 10px;
    border: 1px solid #000;
    background: #FFF;
    cursor: pointer;
    margin-top: -17px;
    padding: 8px 12px;
    border: 2px solid rgba(0,0,0,0);
}

.carts__wrapper-news:hover {
    border: 2px solid #FF2C15;
    padding: 8px 12px;
}

.carts__page {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.carts__page-span {
    position: relative;
    display: block;
    bottom: 40px;
    left: 12px;
}

.carts__page-desc {
    display: block;
    margin-top: 7px;
}


.carts__page-pagination {
    display: flex;
    width: 60px;
    height: 40px;
    border-radius: 5.882px;
    background: linear-gradient(118deg, #FF2C15 -5.25%, #FA931A 98.66%);
    cursor: pointer;

    user-select: none;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;

}

.carts__page-pagination div {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.carts__page-pagination img {
    cursor: pointer;
}







@media (max-width: 360px) {

    .carts {
        display: none;
    }

    .cartsmobil__title {
        color: #000;
        display: block;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 98.5%;
        text-align: center;
        margin-bottom: 20px;
    }

    .cartsmobil {
        display: block;
        padding-bottom: 30px;
    }

    .cartsmobil__search {
        display: flex;
        align-items: center;
        gap: 20px;
        max-width: 137px;
        border-radius: 5px;
        border: 1px solid #000;
        color: var(--, #000);
        font-family: Roboto;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 30px;
    }

    .cartsmobil__wrapper {
        display: grid;
        grid-template-columns: repeat(2, min-content);
        gap: 10px;
        margin-bottom: 44px;
    }

    .cartsmobil__wrapper-item span {
        color: #212121;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: block;
        text-align: center;
    }

    .cartsmobil__wrapper-item1 span {
        font-size: 14px;
        text-align: left;
    }

    .cartsmobil__wrapper-item-image {
        width: 159px;
        height: 169px;

    }

    .cartsmobil__wrapper-item-image1 {
        width: 159px;
        height: 169px;
        /* margin-bottom: -30px; */
    }

    .cartsmobil__wrapper-item-image:hover {
        cursor: pointer;
        border-radius: 10px;
        border: 6px solid #FF2C15;
        width: 147px;
        height: 157px;
    }

    .cartsmobil__wrapper-item-image1:hover {
        cursor: pointer;
        border-radius: 10px;
        border: 6px solid #FF2C15;
        width: 147px;
        height: 157px;
    }


    .cartsmobil__wrapper-item-star {
        position: relative;
        left: 124px;
        bottom: 8px;
    }

    .cartsmobil__wrapper-news {
        font-size: 14px;
        text-align: center;
        color: #212121;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        padding: 7px 20px;
        border-radius: 10px;
        border: 1px solid #000;
        background: #FFF;
        cursor: pointer;
        margin-top: 7px;
        margin-left: 4px;
    }

    .cartsmobil__wrapper-news span {
        color: #212121;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }


    .cartsmobil__wrapper-news:hover {
        border: 2px solid #FF2C15;
        padding: 7px 20px;
    }

    .carts__page {
        color: #000;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        display: flex;
        justify-content: center;
        gap: 20px;
        /* margin-bottom: 90px; */
    }

    .carts__page-span {
        position: relative;
        display: block;
        bottom: 40px;
        left: 12px;
    }

    .carts__page-desc {
        display: block;
        margin-top: 7px;
    }

    .carts__losso {
        display: none;
    }

    .carts__page-pagination {
        display: flex;
        gap: 15px;
        width: 60px;
        height: 40px;
        border-radius: 5.882px;
        background: linear-gradient(118deg, #FF2C15 -5.25%, #FA931A 98.66%);
        cursor: pointer;
    }

    .carts__page-pagination img {
        width: 7px;
        height: 7px;
        padding-top: 17px;
        padding-left: 9px;
        cursor: pointer;
    }

    /* звезда мини */
    .cartsmobil__wrapper-item {
        position: relative;
    }

    .cartsmobil__wrapper-item-star {
        position: absolute;
        top: 150px;
        left: 115px;
    }

    .cartsmobil__wrapper-item-star-hide {
        display: none;
    }
}



@media (max-width: 1200px) {
    .carts__wrapper {
        display: grid;
        grid-template-columns: repeat(4, min-content);
        gap: 21px;
        margin-bottom: 44px;
    }
}

@media (max-width: 850px) {
    .carts__wrapper {
        display: grid;
        grid-template-columns: repeat(2, min-content);
        gap: 21px;
        margin-bottom: 44px;
    }
}

@media (max-width: 400px) {
    .carts__wrapper {
        display: none;
    }
}