body {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(180deg, #FDDFA1 0%, #FFB959 55.21%, #FF997E 100%); */
    /* background-image: url('/image-home/fonoffer.png'); */
    /* background-image: url('../image-home/fonoffer.png'); */
    /* background-image: url('../image-home/fonoffer.png'); */
    background-size: cover;
    background-repeat: no-repeat;
}

.backgroundColor0{
  background-image: url('../image-home/fonoffer.png');
}

.backgroundColor1{
  background-image: url('../image-home/wallpaper/WallpaperBlue.jpg');
}
.backgroundColor2{
  background-image: url('../image-home/wallpaper/WallpaperGreen.jpg');
}
.backgroundColor3{
  background-image: url('../image-home/wallpaper/WallpaperPink.jpg');
}
.backgroundColor4{
  background-image: url('../image-home/wallpaper/WallpaperPurple.jpg');
}
.backgroundColor5{
  background-image: url('../image-home/wallpaper/WallpaperYellow.jpg');
}



.sortDate_button_group select.active {
  background: var(--q, linear-gradient(180deg, #ff2c15 0%, #fa9317 100%));
  color: white;
  option {
    color: black;
  }
}
.sortDate_button_group select {
  border: 1px solid #000;
  border-radius: 5px;
  background: #fff;
  color: #212121;
  padding: 11px 24px;
  font-size: 1.25rem;
  align-self: center;
  font-weight: 700;
  font-family: Montserrat;
}
.sortDate_button_group select option {
     border-radius: 5px;
     background: #ffffff;
     font-size: 1.3rem;
 
}
.sortDate_button_group button {
  border-radius: 5px;
  border: 1px solid #000;
  background: #fff;
  transition: color 0.5s;
  align-self: center;
  color: #212121;
  text-align: center;
  padding: 11px 24px;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 5px;
}
.sortDate_button_group button.active {
  border-radius: 5px;
  border: 1px solid var(--q, #ff2c15);
  background: var(--q, linear-gradient(180deg, #ff2c15 0%, #fa9317 100%));
  color: #fff;
}
.sortDate_button_group button:hover {
  border-radius: 5px;
  border: 1px solid var(--q, #ff2c15);
  background: var(--q, linear-gradient(180deg, #ff2c15 0%, #fa9317 100%));
  color: #ffffff;
}
.sortDate_button_group {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}
.choice__wrapper-country-item.active {
  border-radius: 5px;
 border: 1px solid var(--q, #ff2c15);
 background: var(--q, linear-gradient(180deg, #ff2c15 0%, #fa9317 100%));
 color: #fff;
}

 .container {
    max-width: 1190px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
 }

 @media (max-width: 360px) {
   .container {
      max-width: 328px;
      padding-left: 10px;
      padding-right: 10px;
   }
 }


 
/* ссылки */
a.text:active, 
a.text:hover,  
a.text {
  text-decoration: none;
  color: inherit;
}
a:active, 
a:hover,  
a {
  text-decoration: none;
  color: inherit;
}