/* footer */

.footer {
	display: grid;
	grid-template-columns: 1200px;
	justify-items: center;

	width: 1600px;
	overflow: hidden;
	place-content: center;
}

.footer-background {
	width: 2120px;
	height: 540px;
	background-color: #000;

	display: grid;
	grid-template-columns: repeat(3, 385px);
	/* justify-items: center; */
	place-content: center;
	gap: 50px;
}

.footer__column {
	display: grid;
	gap: 33px;
	grid-auto-rows: max-content;
}

.footer__text {
	color: white;

	color: #FFF;
	font-feature-settings: 'clig' off, 'liga' off;

	/* Основной текст */
	/* font-family: Montserrat; */
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	/* 26.4px */
}

.footer__text-center {
	text-align: center;
}

.footer__logo-text {
	color: #FFF;
	font-feature-settings: 'clig' off, 'liga' off;

	/* ЗАГОЛОВОК */
	/* font-family: Montserrat; */
	font-size: 55px;
	font-style: normal;
	font-weight: 600;
	line-height: 130%;
	/* 71.5px */
}

.footer__column__text-padding {
	margin-left: 150px;
}

.footer__column-logo-shift {
	position: relative;
	top: -40px;
}

.footer__column--tree {
	grid-auto-rows: max-content;
}


/*  */
.footer {
	background-color: #000;
}

.footermobil {
	display: none;
}

.footer__container {
	display: flex;
	gap: 150px;
}

.footer__container-logo {
	display: flex;
	flex-direction: column;
	margin-bottom: 85px;
	width: 336px;
}

.footer__container-links {
	display: flex;
	align-items: baseline;
	gap: 100px;
	margin-top: 63px;
}

.footer__container-logo-world {
	display: block;
	margin-bottom: 0;
	margin-top: 54px;
	color: #FFF;
	font-family: Montserrat;
	font-size: 55px;
	font-style: normal;
	font-weight: 600;
	line-height: 130%;
}

.footer__container-logo-stars {
	display: block;
	color: #FFF;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;

	color: #FFF;
	font-feature-settings: 'clig' off, 'liga' off;

	/* Дополнительны для читать далее */
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
	/* 28px */



	position: relative;
	top: -16px;
	left: 15px;
}

.footer__container-menu1 {
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding-left: 0;
}

.footer__container-menu2 {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer__container-menu3 {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer__container-links-link {
	color: #FFF;
	font-family: Montserrat;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;

	color: #FFF;
	font-feature-settings: 'clig' off, 'liga' off;

	/* Основной текст */
	font-family: Montserrat;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	/* 26.4px */
}

.footer__container-links-link1 {
	color: #FFF;
	font-family: Montserrat;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
}

.footer__container-social {
	display: flex;
	justify-content: end;
	padding-bottom: 104px;
	padding-right: 110px;

}

.footer__container-social-container {
	display: flex;
	gap: 15px;
}

.footer__container-links-link--Contacts{
	position: relative;
	top: 25px;
	cursor: pointer;
}